
body{

    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;

}
.sobreNosContainer{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.row.icons{

    background-color: #007bff;
}

footer .payment-methods {
    margin-bottom: 1rem;
}

footer .payment-methods img {
    max-height: 40px; 
    margin: 0 0.5rem;
    transition: transform 0.3s ease;
}

footer .payment-methods img:hover {
    transform: scale(1.1); 
}

footer .livro-reclamações img {
    max-height: 50px; 
    margin-top: 1rem;
    transition: transform 0.3s ease;
}

footer .livro-reclamações img:hover {
    transform: scale(1.1); 
}