
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}
