body{

    background-color: white;
    color: black;

}
main h1{

    text-align: center;
}
.navbar.cor-navbar{

    background-color: rebeccapurple !important;
}
.col-12.cor-auto{

    color: red;
}
.row.icons{

    background-color: blue;
}
.col-12.icons{

    align-content: end;
}
.payment-methods img{

    width: 50px;
    height: 50px;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1050;
    display: none;
}
